<div class="alert alert-danger" ng-if="model.errorMessage">
	{{model.errorMessage}}
</div>

<div class="table-responsive">

	<table class="table table-striped">

	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Name</th>
	      <th>Amount</th>
	      <th>Description</th>
	      <th>&nbsp;</th>
	    </tr>
	  </thead>

	  <tbody>
		<tr ng-repeat="widget in model.widgets" 
			data-widget-line-item 
			data-widget="widget"
			data-on-edit-widget="editWidget(widget)" 
			data-on-delete-widget="deleteWidget(widget)" 
			data-on-undelete-widget="undeleteWidget(widget)"></tr>
	  </tbody>

	</table>

</div>

<div class="row">

	<div class="col-xs-12">

		<button id="add-widget" 
				ng-click="addWidget()" 
				ng-disabled="model.operationInProgress">Add</button>

	</div>
	
</div>
