<tr ng-class="{deleted: isDeleted(model) || isUndoingDelete(model) }">
	<td>{{model.id}}</td>
	<td>{{model.name}}</td>
	<td>{{model.amount}}</td>
	<td>{{model.description}}</td>
	<td>
		<span ng-if="canEditOrDelete(model)">
			<a href="#" ng-click="onEditWidget({ widget: model })">Edit</a>
			&nbsp;|&nbsp;
			<a href="#" ng-click="onDeleteWidget({ widget: model })">Delete</a>
		</span>
		<span ng-if="isDeleting(model)">
			deleting...
		</span>
		<span ng-if="isUndoingDelete(model)">
			restoring...
		</span>
		<span ng-if="isDeleted(model)">
			<a href="#" ng-click="onUndeleteWidget({ widget: model })">Undo</a>
		</span>
	</td>
</tr>
