@{
    ViewData["Title"] = "Home Page";
}

@section scripts 
{

<script type="text/javascript">

	var appData = angular.module("widgetRegistryData", []);

    var appConfig = {
        apiEndpoint: "/api/widgets/",
		templateRoot: "/templates/"
    };
	appData.constant("appConfig", appConfig);

</script>

<environment names="Development">
    <script src="~/js/templates.js"></script>
    <script src="~/js/app.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/app.min.js"></script>
</environment>

<script type="text/javascript">

    System.import('app').catch(function(err) { console.error(err); });

</script>

}

<div ui-view></div>
